.mainContent{
    width: 100%;
    max-width: 900px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.greeting h2{
    font-size: 2rem;
    margin-bottom: 8px;
    color: var(--primary-color);
}
.greeting p{
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 30px;
}
.greeting span{
    display: inline-block;
    padding: 10px 15px;    
}
.featuredRecipes{
    display: grid;
    grid-template-columns: 1fr;
}
.recipeCards{
    display: grid;
}
.recipeCards img{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.loader{
    text-align: center;
    padding: 40px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
    animation: blink 2s infinite;
}
@keyframes blink {
    0%, 100% {opacity: 0.2}
    50% {opacity: 1;}
}